.elementor-12 .elementor-element.elementor-element-b04d35e>.elementor-container {
    min-height: 35vw;
}

.elementor-12 .elementor-element.elementor-element-b04d35e>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-b04d35e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12 .elementor-element.elementor-element-fd46e88 {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.elementor-12 .elementor-element.elementor-element-fd46e88 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Abhaya Libre", Sans-serif;
    font-size: 3.6vw;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-ba9e984>.elementor-container {
    max-width: 500px;
    min-height: 46vh;
}

.elementor-12 .elementor-element.elementor-element-ba9e984:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-ba9e984>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-12 .elementor-element.elementor-element-ba9e984 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 2;
}

.elementor-12 .elementor-element.elementor-element-ba9e984>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-bad6506 {
    text-align: center;
    bottom: 40px;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-bad6506 {
    left: 0px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-bad6506 {
    right: 0px;
}

.elementor-12 .elementor-element.elementor-element-0eee0d2 {
    text-align: center;
    top: 60px;
}

.elementor-12 .elementor-element.elementor-element-0eee0d2 .elementor-heading-title {
    color: #00033C;
    font-family: "Hurricane", Sans-serif;
    font-weight: 600;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-0eee0d2 {
    left: 0px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-0eee0d2 {
    right: 0px;
}

.elementor-12 .elementor-element.elementor-element-5a74d5e>.elementor-container {
    min-height: 436px;
}

.elementor-12 .elementor-element.elementor-element-5a74d5e:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-5a74d5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://Media-day.github.io/wp-content/uploads/2022/03/03.jpg");
    background-size: cover;
}

.elementor-12 .elementor-element.elementor-element-5a74d5e>.elementor-background-overlay {
    background-color: #00033C;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-5a74d5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12 .elementor-element.elementor-element-51cea64>.elementor-element-populated {
    margin: 100px 100px 100px 100px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 100px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-e503f4a {
    text-align: center;
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-218c81e {
    text-align: center;
    color: #FFFFFF;
    font-family: "Verdana", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-12 .elementor-element.elementor-element-79589fe {
    text-align: center;
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-7f40b1a {
    text-align: center;
    color: #FFFFFF;
    font-family: "Verdana", Sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-29b078d {
    text-align: center;
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-21cec8e {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-97fec6c {
    text-align: center;
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-615b4ae:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-615b4ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-12 .elementor-element.elementor-element-615b4ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 35px 0px 35px 0px;
}

.elementor-12 .elementor-element.elementor-element-615b4ae>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-249a95a {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-249a95a .elementor-heading-title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-249a95a>.elementor-widget-container {
    margin: 0px 0px 17px 0px;
}

.elementor-12 .elementor-element.elementor-element-0904349>.elementor-widget-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-12 .elementor-element.elementor-element-61fd380:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-61fd380>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://Media-day.github.io/wp-content/uploads/2022/03/04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-12 .elementor-element.elementor-element-61fd380>.elementor-background-overlay {
    background-color: #00033C;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-61fd380 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 200px 0px 200px 0px;
}

.elementor-12 .elementor-element.elementor-element-47cc514 {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-47cc514 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-ad2fec3>.elementor-container {
    min-height: 100vw;
}

.elementor-12 .elementor-element.elementor-element-ad2fec3:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-ad2fec3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-12 .elementor-element.elementor-element-ad2fec3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12 .elementor-element.elementor-element-ad2fec3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-47a6b7c.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-deef09c {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-deef09c .elementor-heading-title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-weight: 600;
}

.elementor-12 .elementor-element.elementor-element-deef09c>.elementor-widget-container {
    margin: 0px 0px 60px 0px;
}

.elementor-12 .elementor-element.elementor-element-f366c88 .gallery-item {
    padding: 0 12px 12px 0;
}

.elementor-12 .elementor-element.elementor-element-f366c88 .gallery {
    margin: 0 -12px -12px 0;
}

.elementor-12 .elementor-element.elementor-element-f366c88 .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-f366c88>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-f366c88 {
    width: 72.978vw;
    max-width: 72.978vw;
}

@media(max-width:1024px) {
    .elementor-12 .elementor-element.elementor-element-b04d35e>.elementor-container {
        min-height: 70vh;
    }

    .elementor-12 .elementor-element.elementor-element-fd46e88 .elementor-heading-title {
        font-size: 5vw;
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-b04d35e>.elementor-container {
        min-height: 80vh;
    }

    .elementor-12 .elementor-element.elementor-element-fd46e88 .elementor-heading-title {
        font-size: 5vw;
    }

    .elementor-12 .elementor-element.elementor-element-bad6506>.elementor-widget-container {
        margin: 45px 45px 45px 45px;
    }

    .elementor-12 .elementor-element.elementor-element-5a74d5e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-51cea64>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-12 .elementor-element.elementor-element-e503f4a {
        font-size: 15px;
    }

    .elementor-12 .elementor-element.elementor-element-218c81e {
        font-size: 24px;
    }

    .elementor-12 .elementor-element.elementor-element-79589fe {
        font-size: 15px;
    }

    .elementor-12 .elementor-element.elementor-element-29b078d {
        font-size: 15px;
    }

    .elementor-12 .elementor-element.elementor-element-97fec6c {
        font-size: 15px;
    }

    .elementor-12 .elementor-element.elementor-element-97fec6c>.elementor-widget-container {
        padding: 0px 0px 25px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-47cc514 .elementor-heading-title {
        font-size: 23px;
    }

    .elementor-12 .elementor-element.elementor-element-deef09c>.elementor-widget-container {
        margin: 30px 0px 30px 0px;
    }
}

@media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-9df4f74 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-47a6b7c {
        width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-12 .elementor-element.elementor-element-5a74d5e:not(.elementor-motion-effects-element-type-background),
    .elementor-12 .elementor-element.elementor-element-5a74d5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-12 .elementor-element.elementor-element-61fd380:not(.elementor-motion-effects-element-type-background),
    .elementor-12 .elementor-element.elementor-element-61fd380>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}